.button1 {
    border: 1px solid black;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: white;

}
.button2 {
    border: 1px solid black;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: white;

}
.button3 {
    border: 1px solid black;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: white;

}