a {
    background-image: url(images/images.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
}